<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        <h1> This is my first Flask project</h1>
        <button>Press me?</button>
        <input type="text" placeholder="Введите текст">

        <a href="https://ya.ru"> Go to yandex </a>

        <ol>
          <li>С</li>
          <li>С++</li>
        </ol>

        <img src="https://avatars.mds.yandex.net/i?id=a265e8a24637ddad024a8cd9ec346cdf_l-8483391-images-thumbs&n=13">
    </body>
</html>