<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    .button {
            display: inline-block; /* Делаем элемент блочным */
            padding: 10px 20px; /* Отступы внутри кнопки */
            font-size: 16px; /* Размер шрифта */
            color: white; /* Цвет текста */
            background-color: blue; /* Цвет фона */
            text-decoration: none; /* Убираем подчеркивание */
            border-radius: 5px; /* Закругленные углы */
        }
    table {
      border: 1px solid;
    }

    td{
      border: 1px solid
    }
  </style>
</head>

<body>

{% if render_data['status'] %}
<table>
  <tr>
    {% for column in render_data['data'][0].keys() %}
    <td>{{ column }}</td>
    {% endfor %}
  </tr>
  {% for line in render_data['data'] %}
  <tr>
    {% for column in line.values() %}
    <td>{{ column }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% else %}
  <h1>Данных не найдено</h1>
{% endif %}
<br>
<a href="/logout" class = button> выйти из системы</a>
<a href="/request/" class = button> назад</a>
<a href="/" class = button> вернутся в меню</a>
</body>
</html>