<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .button {
            display: inline-block; /* Делаем элемент блочным */
            padding: 10px 20px; /* Отступы внутри кнопки */
            font-size: 16px; /* Размер шрифта */
            color: white; /* Цвет текста */
            background-color: blue; /* Цвет фона */
            text-decoration: none; /* Убираем подчеркивание */
            border-radius: 5px; /* Закругленные углы */
        }
    </style>
</head>

<body>
    Введите номер товара
    <form action="" method="POST">
        <input type = "text" name = "product_name">
        <input type = "submit" value = "send">
    </form>
    <br>
    <a href="/logout" class = button> выйти из системы</a>
    <a href="/" class = button> вернутся в меню</a>
</body>

</html>